.searchbox-container {
    width: 800px;
    max-height: 450px;
    background-color: var(--background-main);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--stroke);
    border-radius: var(--space-s);
    overflow: hidden;
}

.searchbox-input {
    display: flex;
    align-items: center;
    padding: var(--space-m);
}

.searchbox-input-icon {
    margin-right: var(--space-m);
}

.searchbox-input input {
    width: 100%;
    padding: var(--space-s);
    border: none;
    background: none;
    color: var(--text-main);
    font-size: var(--body-text);
}
.searchbox-key-help{
    position: fixed;
    right: 0;
    z-index: -1;
    width: 215px;
    height: 22px;
}

.searchbox-results {
    display: flex;
    flex: 1;
    gap: var(--space-m);
    padding:var(--space-m);
    overflow-y: auto;
}

.searchbox-results .left{
    flex: 1;
    max-height: 320px;
    overflow-y: scroll;
}

.searchbox-results .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox-combo {
    display: flex;
    justify-content: space-around;
    padding: var(--space-m);
    gap: var(--space-m);
}
